@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

:root {
  --color-primary: #900A15;
  --color-accent: #FAB622;
}

body {
  @apply max-w-[3000px] w-full bg-white text-black mx-auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 9)); 
  }
}

.animate-infinite-scroll {
  animation: scroll 20s linear infinite;
}

/* Pause animation on hover */
.animate-infinite-scroll:hover {
  animation-play-state: paused;
}


.embla .embla__container {
  transition-timing-function: linear !important;
}

.embla .embla__slide {
  transition: transform 3000ms linear;
}
